* {
    margin: 0;
    padding: 0;
    overflow: none !important;
}

body {
    width: 100vw !important;
    /* height: 100vh !important; */
    box-sizing: border-box !important;
    background-color: #dbdbd9 !important;
    
}

